body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    background-color: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.content-section_theme_bright {
    color: #131313;
    background-color: #FEE42A;
}

.content-section_theme_dark {
    color: #fff;
    background-color: #131313;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 20px;
}

.header__logo {
    display: block;
    width: 78px;
}

.header__logo-image {
    width: 100%;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}

.header__menu-link {
    color: #f5f5f5;
}

.header__menu-item_active .header__menu-link {
    text-decoration: none;
}

.cover {
    padding: 7px 24px 35px 20px;
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 95% auto;
}

.cover__title {
    color: #FFF;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 1;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.accent-span {
    display: block;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 20px 38px;
}

.intro__heading {
    display: flex;
    color: #ccc;
}

.intro__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.intro__date {
    white-space: nowrap;
}

.intro__main-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #f5f5f5;
    line-height: 21.6px;
}

.reasons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 20px;
}

.content-section__subtitle {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.15;
}

.content-section__introduction {
    font-size: 20px;
    line-height: 27px;
}

.content-section__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
}

.content-section__list-accent {
    font-weight: 700;
}

.content-section__list-item {
    line-height: 21.6px;
}

.how-to {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 20px 60px;
}

.cards-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
}

.card {
    border-radius: 30px;
    padding: 20px;
}

.card-theme_dark {
    color: #f5f5f5;
    background-color: #343434;
}

.card-theme_bright {
    color: #131313;
    background-color: #FEE42A;
}

.card__author {
    margin-bottom: 8px;
}

.card__author-photo {
    width: 100px;
    height: 100px;
    margin-bottom: 3px;
}

.card__author-name {
    font-weight: 700;
    line-height: 1.35;
}

.card__title {
    margin-bottom: 8px;
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    line-height: 1.35;
}

.card__text {
    padding-right: 1px;
    line-height: 21.6px;
}

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #FEE42A;
    padding: 20px;
}

.footer__links {
    display: flex;
    gap: 16px;
    list-style: none;
}

.footer__links a {
    color: #f5f5f5; 
    font-size: 14px;
    line-height: 1.25;
    text-decoration: none;
}